asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==4.2.3
django-ckeditor==6.6.1
django-extensions==3.2.3
django-faker==0.2
django-jazzmin==2.6.0
django-js-asset==2.1.0
django-mathfilters==1.0.0
django-mptt==0.14.0
django-sass-processor==1.2.2
django-shell-plus==1.1.7
fake-factory==9999.9.9
idna==3.6
libsass==0.22.0
more-itertools==9.1.0
paypalrestsdk==1.13.3
Pillow==10.0.0
psycopg2-binary==2.9.6
pycparser==2.21
pyOpenSSL==23.3.0
razorpay==1.4.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.1.0
