{% extends 'pages/shop/shop-base.html' %}
{% load static %}

{% block components %}

<!--section start-->
<section class="login-page pwd-page section-big-py-space b-g-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-11 mx-auto">
        <div class="theme-card">
          {% include "includes/alerts.html" %}
          <h3>Change Password</h3>
          <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="currentpass" class="mr-2">Current Password</label>
                  <input type="text" class="form-control" name='currentpass' id='currentpass'
                    placeholder="Enter Current Password" required>
                </div>
                <div class="form-group">
                  <label for="newpass" class="mr-2">New Password</label>
                  <input type="text" class="form-control" name='newpass' id='newpass' placeholder="Enter New Password"
                    required>
                </div>
                <div class="form-group">
                  <label for="confnewpass" class="mr-2">Confirm Password</label>
                  <input type="text" class="form-control" name='confnewpass' id='confnewpass'
                    placeholder="Enter Confirm password" required>
                </div>
                <div class="form-group mb-0">
                  <button class="btn btn-normal">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->

{% endblock components %}