{% extends 'pages/blog/blog-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}


{% block components %}
  

<!--section start-->
<section class="blog-detail-page section-big-py-space ratio2_3">
  <div class="container">
      <div class="row section-big-pb-space">
          <div class="col-sm-12 blog-detail">
              <div class="creative-card">
                  <img src="/{{blog.blogImage}}" class="img-fluid w-100 " alt="blog">
                  <h3>{{blog.blogTitle}}</h3>
                  <ul class="post-social">
                      <li>{{blog.createdAt|date:"d M Y"}}</li>
                      <li>Posted By : Admin Admin</li>
                      <li><i class="fa fa-heart"></i> 5 Hits</li>
                      <li><i class="fa fa-comments"></i> 10 Comment</li>
                  </ul>
                  <p>{{blog.blogDescription|safe}}</p>
                  {% comment %} <p>Cras quis neque urna. Pellentesque mollis, dui nec elementum elementum, ipsum quam suscipit ligula, sit amet lobortis dolor sem sed neque. Vivamus consequat est non sodales efficitur. Aliquam sodales eleifend sodales. Aliquam auctor ipsum quis nisl facilisis, at convallis mauris iaculis. Duis eleifend, magna ac convallis blandit, dui dui auctor leo, sed tincidunt nisi mauris ut nulla. Praesent porttitor dui ac turpis commodo porttitor. Integer ligula nisi, bibendum non sem at, porta condimentum dui.</p> {% endcomment %}
                  {% comment %} <p>Proin id eleifend diam, euismod dictum nibh. Ut ullamcorper in purus at tempor. Nullam mattis risus nec velit semper lobortis. Donec accumsan ligula fermentum, ultricies massa eget, cursus leo. Suspendisse placerat elit et lacus aliquam, ut elementum leo aliquet. Integer ornare, ipsum eu lacinia viverra, lectus ipsum scelerisque nisl, nec iaculis leo elit id arcu. Aliquam id ante elit. Donec commodo purus eget lacus pharetra, et egestas metus blandit. Quisque pellentesque porta urna.</p> {% endcomment %}
              </div>
          </div>
      </div>
      <div class="row section-big-pb-space blog-advance ">
          <div class="col-lg-6 ">
                  <div class="creative-card">
                      {% comment %} <img src="{% static 'assets/images/blog/1.jpg' %}" class="img-fluid " alt="blog"> {% endcomment %}
                      <img src="/{{blog.blogImage}}" class="img-fluid " alt="blog">
                      <ul>
                          <li>Donec ut metus sit amet elit consectetur  vel turpis.</li>
                          <li>Aenean in mi eu elit mollis tincidunt.</li>
                          <li>Etiam blandit metus vitae purus lacinia ultricies.</li>
                          <li>Nunc quis nulla sagittis, tempus metus.</li>
                          <li>In scelerisque libero ut mi ornare, neque pulvinar.</li>
                          <li>Morbi molestie lacus blandit interdum sodales.</li>
                          <li>Curabitur eleifend velit molestie eleifend interdum.</li>
                          <li>Vestibulum fringilla tortor et lorem sagittis,</li>
                          <li>In scelerisque libero ut mi ornare, neque pulvinar.</li>
                          <li>Morbi molestie lacus blandit interdum sodales.</li>
                          <li>Curabitur eleifend velit molestie eleifend interdum.</li>
                      </ul>
                  </div>
              </div>
          <div class="col-lg-6 ">
                  <div class="creative-card">
                      {% comment %} <img src="{% static 'assets/images/blog/2.jpg' %}" class="img-fluid  " alt="blog"> {% endcomment %}
                      <img src="/{{blog.blogImage}}" class="img-fluid  " alt="blog">
                      <p>{{blog.blogDescription|safe}}</p>
                      {% comment %} <p class="mt-2">Nulla quam turpis, commodo et placerat eu, mollis ut odio. Donec pellentesque egestas consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at urna dolor. Mauris odio nisi,  rhoncus ac justo eget, lacinia iaculis lectus. rhoncus ac justo eget, lacinia iaculis lectus.</p> {% endcomment %}
                      {% comment %} <p class="mt-2">Nulla quam turpis, commodo et placerat eu, mollis ut odio. Donec pellentesque egestas consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p> {% endcomment %}
                  </div>
              </div>
      </div>
      <div class="row section-big-pb-space">
          <div class="col-sm-12 ">
              <div class="creative-card">
                  <ul class="comment-section">
                      <li>
                          <div class="media"><img src="{% static 'assets/images/avtar/1.jpg' %}" alt="Generic placeholder image">
                              <div class="media-body">
                                  <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                  <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="media"><img src="{% static 'assets/images/avtar/2.jpg' %}" alt="Generic placeholder image">
                              <div class="media-body">
                                  <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                  <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="media"><img src="{% static 'assets/images/avtar/3.jpg' %}" alt="Generic placeholder image">
                              <div class="media-body">
                                  <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                  <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui.</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class=" row blog-contact">
          <div class="col-sm-12  ">
              <div class="creative-card">
                  <h2>Leave Your Comment</h2>
                  <form class="theme-form">
                      <div class="row g-3">
                          <div class="col-md-12">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                          </div>
                          <div class="col-md-12">
                              <label for="email">Email</label>
                              <input type="text" class="form-control" id="email" placeholder="Email" required="">
                          </div>
                          <div class="col-md-12">
                              <label for="exampleFormControlTextarea1">Comment</label>
                              <textarea class="form-control" placeholder="Write Your Comment" id="exampleFormControlTextarea1" rows="6"></textarea>
                          </div>
                          <div class="col-md-12">
                              <button class="btn btn-normal" type="submit">Post Comment</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Section ends-->


{% endblock components %}