{% extends 'pages/blog/blog-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}


{% block components %}


<!-- section start -->
<section class="section-big-py-space blog-page ratio2_3">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="row blog-media">
                    <div class="col-xl-6 ">
                        <div class="blog-left">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/blog/1.jpg' %}" class="img-fluid  " alt="blog"></a>
                            <div class="date-label">
                                26 nov 2019
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <div class="blog-right">
                            <div>
                                <a href="javascript:void(0)"><h4>you how all this mistaken idea of denouncing pleasure and praising pain was born.</h4> </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin</li>
                                    <li><i class="fa fa-heart"></i> 5 Hits</li>
                                    <li><i class="fa fa-comments"></i> 10 Comment</li>
                                </ul>
                                <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6 ">
                        <div class="blog-left">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/blog/2.jpg' %}" class="img-fluid  " alt="blog"></a>
                            <div class="date-label">
                                26 nov 2019
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <div class="blog-right">
                            <div>
                                <a href="javascript:void(0)"><h4>you how all this mistaken idea of denouncing pleasure and praising pain was born.</h4> </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin</li>
                                    <li><i class="fa fa-heart"></i> 5 Hits</li>
                                    <li><i class="fa fa-comments"></i> 10 Comment</li>
                                </ul>
                                <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6 ">
                        <div class="blog-left">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/blog/3.jpg' %}" class="img-fluid  " alt="blog"></a>
                            <div class="date-label">
                                26 nov 2019
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <div class="blog-right">
                            <div>
                                <a href="javascript:void(0)"><h4>you how all this mistaken idea of denouncing pleasure and praising pain was born.</h4> </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin</li>
                                    <li><i class="fa fa-heart"></i> 5 Hits</li>
                                    <li><i class="fa fa-comments"></i> 10 Comment</li>
                                </ul>
                                <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6 ">
                        <div class="blog-left">
                            <a href="javascript:void(0)"><img src="{% static 'assets/images/blog/4.jpg' %}" class="img-fluid  " alt="blog"></a>
                            <div class="date-label">
                                26 nov 2019
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <div class="blog-right">
                            <div>
                                <a href="javascript:void(0)"><h4>you how all this mistaken idea of denouncing pleasure and praising pain was born.</h4> </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin</li>
                                    <li><i class="fa fa-heart"></i> 5 Hits</li>
                                    <li><i class="fa fa-comments"></i> 10 Comment</li>
                                </ul>
                                <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock components %}
