{% extends 'pages/pages/pages-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

{% block components %}

<!-- Checkout Section Start -->
<section class="section-b-space">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-8">
        {% comment %} ----------------------- COUPON MODULE Start -------------------------- {% endcomment %}
        <div id="couponCodeDiv">
          <div class="promo-section mb-sm-4 mb-2">
            <div class="row g-2">
              <div class="col-7">
                <input type="text" class="form-control" id="couponCode" placeholder="Coupon Code">
              </div>
              <div class="col-5">
                <button class="btn btn-solid-default rounded" id="couponBtn"
                  onclick="couponvalidation({'price':'{{Cart.getTotalPrice}}','tax':{{Cart.getTotalTax}},'priceInUSD':{{getFinalPriceAfterTax}}})">Apply
                  Coupon</button>
              </div>
            </div>
          </div>
        </div>
        {% comment %} ----------------------- COUPON MODULE End -------------------------- {% endcomment %}

        {% comment %} -------------------- BILLING ADDRESS CHECKBOXED Start -----------------------------{% endcomment %}
        
        <div id="billingAddressDiv">
          <h3 class="mb-3">Billing address</h3>
          <div class="d-block my-3">
            <div class="form-check custome-radio-box">
              <input class="form-check-input" type="radio" name="flexRadioDefaultForAddress" value="newAddress"
                id="newAddress">
              <label class="form-check-label" for="newAddress">New Address</label>
            </div>
            {% for address in billingAddresses %}
            <div class="form-check custome-radio-box">
              <input class="form-check-input" type="radio" id="address-{{forloop.counter}}"
                name="flexRadioDefaultForAddress" value={{address.id}}>
              <label class="form-check-label" for="address-{{forloop.counter}}">{{address.customerAddress1}} -
                {{address.customerZip}}</label>
            </div>
            {% endfor %}
          </div>
        </div>

        {% comment %} ----------------------- BILLING ADDRESS CHECKBOXED End ------------------------ {% endcomment %}
        {% comment %} ----------------------- BILLING ADDRESS FORM Start ---------------------------- {% endcomment %}
        <form class="needs-validation" id="new-address" style="display: none;">
          <input type="hidden" name="cartid" value="{{Cart.id}}">
          {% comment %} <div class="row g-4" id="new-address"> {% endcomment %}
            <div class="row g-4">

              <div class="col-md-6">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" name="fname" class="form-control" id="fname" required placeholder="Enter First Name">
              </div>

              <div class="col-md-6">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" name="lname" class="form-control" id="lname" required placeholder="Enter Last Name">
              </div>

              <div class="col-md-6">
                <label for="lname" class="form-label">Username</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" name="uname" class="form-control" placeholder="Username" id="uname" required>
                </div>
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email address </label>
                <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com"
                  required>
              </div>

              <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <input type="text" name="address1" class="form-control" id="address1" placeholder="1234 Main St"
                  required>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-md-6">
                <label for="address2" class="form-label">Address 2</label>
                <input type="text" name="address2" class="form-control" id="address2" placeholder="1234 Main St"
                  required>
              </div>

              <div class="col-md-5">
                <label for="validationCustom04" class="form-label">Country</label>
                <select name="country" class="form-select custome-form-select" id="validationCustom04" required>
                  <option selected disabled value="">Choose...</option>
                  <option name="united-states" value="United States">United States</option>
                  <option name="india" value="India">India</option>
                  <option name="america" value="America">America</option>
                  <option name="south-america" value="">South America</option>
                  <option name="dubai" value="Dubai">Dubai</option>
                  <option name="hong-kong" value="Hong Kong">Hong Kong</option>
                  <option name="indonesia" value="Indonesia">Indonesia</option>
                  <option name="pakistan" value="Pakistan">Pakistan</option>
                  <option name="saudi-arabia" value="Saudi Arabia">Saudi Arabia</option>
                  <option name="china" value="China">China</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>

              <div class="col-md-4">
                <label for="validationCustom04" class="form-label">City</label>
                <select name="city" class="form-select custome-form-select" id="validationCustom05" required>
                  <option selected disabled value="">Choose...</option>
                  <option name="Bhutan" value="Bhutan">Bhutan</option>
                  <option name="Burundi" value="Burundi">Burundi</option>
                  <option name="Comoros" value="Comoros">Comoros</option>
                  <option name="Dilhi" value="Dilhi">Dilhi</option>
                  <option name="Mumbai" value="Mumbai">Mumbai</option>
                  <option name="Surat" value="Surat">Surat</option>
                  <option name="Abu & Ambaji" value="Abu & Ambaji">Abu & Ambaji</option>
                  <option name="Japan" value="Japan">Japan</option>
                  <option name="Cuba" value="Cuba">Cuba</option>
                  <option name="Zambia" value="Zambia">Zambia</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>

              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input name="zip" type="text" class="form-control" id="zip" required placeholder="1234 Main St">
              </div>

            </div>
        </form>
        {% comment %} ----------------------- BILLING ADDRESS FORM End ---------------------------- {% endcomment %}
        {% comment %} ----------------------- BILLING ADDRESS FORM End ---------------------------- {% endcomment %}
        <hr class="my-lg-5 my-4">
        {% comment %} Payment option section START ------------------------------------------------ {% endcomment %}
        <div id="payment-option" style="display:none;">
          <h3 class="mb-3">Payment</h3>
          <div class="d-block my-3">
            <div class="form-check custome-radio-box">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="PayPal" id="paypal">
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>

            <div class="form-check custome-radio-box">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="RazorPay" id="razorpay">
              <label class="form-check-label" for="razorpay">RazorPay</label>
            </div>
          </div>
        </div>
        <div id="paypal-button-container" class="selected-option"></div>
        <div id="smart-button-container" class="selected-option"></div>
        <button id="rzp-button1" class="btn btn-solid-default razorpay-btn" style="display:none;">Pay with Razorpay</button>
        <div style="text-align: center;">
        </div>
      </div>
      {% comment %} Payment option section END ------------------------------------------------ {% endcomment %}

      <div class="col-lg-4">
        <div class="your-cart-box">
          <h3 class="mb-3 d-flex text-capitalize">Your cart<span
              class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">{{totalCartProducts}}</span>
          </h3>
          <ul class="list-group mb-3">

            {% for product in cart_products %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{product.cartProduct.variantProduct.productName}}</h6>
                <small>{{product.cartProduct.variantProduct.proCategory}}</small>
              </div>
              <span>{{""|return_currency_wise_symbol:request}}{{product.cartProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}
                &nbsp; &nbsp; &nbsp; X {{product.cartProductQuantity}}</span>
            </li>
            {% endfor %}

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="text-dark">
                <h6 class="my-0">Total MRP</h6>
                <small></small>
              </div>
              <span>{{""|return_currency_wise_symbol:request}}{{Cart.getTotalPrice|return_currency_wise_ammount:request}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="text-dark">
                <h6 class="my-0">Coupon amount</h6>
                <small></small>
              </div>
              <span
                id="couponAmount">{{""|return_currency_wise_symbol:request}}{{couponAmount|return_currency_wise_ammount:request}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="text-dark">
                <h6 class="my-0">Tax</h6>
                <small></small>
              </div>
              <span>{{""|return_currency_wise_symbol:request}}{{Cart.getTotalTax|return_currency_wise_ammount:request}}</span>
            </li>
            <li class="list-group-item d-flex lh-condensed justify-content-between">
              <span class="fw-bold">Total ({{""|return_currency_wise_code:request}})</span>
              <strong
                id="finalAmount">{{""|return_currency_wise_symbol:request}}{{getFinalPriceAfterTax|return_currency_wise_ammount:request}}</strong>
            </li>
            <li class="list-group-item d-flex lh-condensed justify-content-between">
              <span class="fw-bold">Total (In USD)</span>
              <strong id="finalAmountInUSD">${{getFinalPriceAfterTax}}</strong>
            </li>
          </ul>

          {% comment %} <form class="card border-0">
            <div class="input-group custome-imput-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-solid-default rounded-0">Redeem</button>
              </div>
            </div>
          </form> {% endcomment %}
        </div>
      </div>
      <div id='checkoutMsgDiv'>
      </div>
    </div>
</section>
<!-- Checkout Section End -->
{% endblock components %}

{% block script %}

<script src="https://www.paypal.com/sdk/js?client-id={{ppl}}&currency=USD" data-namespace="paypal_sdk"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie("csrftoken");
  var price;
  price = "{{getFinalPriceAfterTax|return_currency_wise_ammount:request}}";
  var totalTax;
  totalTax = '{{Cart.getTotalTax|return_currency_wise_ammount:request}}';
  // console.log('============>totalTax', totalTax)
  // completeOrder() function for paypal payment start ============================================
  function completeOrder(params) {
    var url = "{% url 'payment_complete' %}";
    var cartid = "{{Cart.id}}";

    var newAddressRadioBtn = document.getElementById("newAddress");
    if (newAddressRadioBtn.checked) {
      var fname = document.getElementById("fname").value;
      var lname = document.getElementById("lname").value;
      var uname = document.getElementById("uname").value;
      var email = document.getElementById("email").value;
      var address1 = document.getElementById("address1").value;
      var address2 = document.getElementById("address2").value;
      var country = document.getElementById("validationCustom04").value;
      var city = document.getElementById("validationCustom05").value;
      var zip = document.getElementById("zip").value;

      var couponCode = document.getElementById("couponCode").value;

      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      var couponCode = document.getElementById("couponCode").value;

      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            price: price,
            totalTax: totalTax,

            fname: fname,
            lname: lname,
            uname: uname,
            email: email,
            address1: address1,
            address2: address2,
            country: country,
            city: city,
            zip: zip,
            cartid: cartid,
            orderpaymentmethodname: orderpaymentmethodname,
            payPalTransactionID: params.payPalTransactionID,
            couponCode: couponCode,
            couponCode: couponCode,
          }),
        })
        .then(response => response.json())
        .then(data => {
          // Handle the JSON response
          console.log(data); // Access the data returned from the server
          // Perform any additional operations with the response data
        })
        .catch(error => {
          // Handle any errors that occur during the request
          console.error(error);
        })
        .then(response => response.json())
        .then(data => {
          // Handle the JSON response
          console.log(data); // Access the data returned from the server
          // Perform any additional operations with the response data
        })
        .catch(error => {
          // Handle any errors that occur during the request
          console.error(error);
        });
    } else {
      var radios = document.getElementsByName("flexRadioDefaultForAddress");
      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      var couponCode = document.getElementById("couponCode").value;
      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      var couponCode = document.getElementById("couponCode").value;

      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          var selectedValue = radios[i].value;
          fetch(url, {
              method: "POST",
              headers: {
                "Content-type": "application/json",
                "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify({
                price: price,
                totalTax: totalTax,
                addressId: selectedValue,
                cartid: cartid,
                orderpaymentmethodname: orderpaymentmethodname,
                payPalTransactionID: params.payPalTransactionID,
                couponCode: couponCode,
                couponCode: couponCode,
              }),
            })
            .then(response => response.json())
            .then(data => {
              // Handle the JSON response
              console.log(data); // Access the data returned from the server
              // Perform any additional operations with the response data
            })
            .catch(error => {
              // Handle any errors that occur during the request
              console.error(error);
            })
            .then(response => response.json())
            .then(data => {
              // Handle the JSON response
              console.log(data); // Access the data returned from the server
              // Perform any additional operations with the response data
            })
            .catch(error => {
              // Handle any errors that occur during the request
              console.error(error);
            });
        }
      }
    }
  }
  // completeOrder() function for paypal payment end ==============================================  


  // completeOrder() function for razorpay payment start ==========================================
  function completeOrderForRazorPay(params) {
    var url = "{% url 'payment_complete' %}";
    var cartid = "{{Cart.id}}";

    var newAddressRadioBtn = document.getElementById("newAddress");
    if (newAddressRadioBtn.checked) {
      var fname = document.getElementById("fname").value;
      var lname = document.getElementById("lname").value;
      var uname = document.getElementById("uname").value;
      var email = document.getElementById("email").value;
      var address1 = document.getElementById("address1").value;
      var address2 = document.getElementById("address2").value;
      var country = document.getElementById("validationCustom04").value;
      var city = document.getElementById("validationCustom05").value;
      var zip = document.getElementById("zip").value;

      var couponCode = document.getElementById("couponCode").value;

      var couponCode = document.getElementById("couponCode").value;


      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            price: price,
            totalTax: totalTax,
            fname: fname,
            lname: lname,
            uname: uname,
            email: email,
            address1: address1,
            address2: address2,
            country: country,
            city: city,
            zip: zip,
            cartid: cartid,
            orderpaymentmethodname: orderpaymentmethodname,
            rpPaymentId: params.rpPaymentId,
            rpOrderId: params.rpOrderId,
            rpSignature: params.rpSignature,
            couponCode: couponCode,
          }),
        })
        .then(response => response.json())
        .then(data => {
          // Handle the JSON response
          console.log(data); // Access the data returned from the server
          // Perform any additional operations with the response data
        })
        .catch(error => {
          // Handle any errors that occur during the request
          console.error(error);
        })
        .then(response => response.json())
        .then(data => {
          // Handle the JSON response
          console.log(data); // Access the data returned from the server
          // Perform any additional operations with the response data
        })
        .catch(error => {
          // Handle any errors that occur during the request
          console.error(error);
        });


    } else {
      var radios = document.getElementsByName("flexRadioDefaultForAddress");
      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      var couponCode = document.getElementById("couponCode").value;
      var orderpaymentmethodname = document.querySelector('input[name="flexRadioDefault"]:checked').value;

      var couponCode = document.getElementById("couponCode").value;

      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          var selectedValue = radios[i].value;
          fetch(url, {
              method: "POST",
              headers: {
                "Content-type": "application/json",
                "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify({
                price: price,
                totalTax: totalTax,
                addressId: selectedValue,
                cartid: cartid,
                orderpaymentmethodname: orderpaymentmethodname,
                rpPaymentId: params.rpPaymentId,
                rpOrderId: params.rpOrderId,
                rpSignature: params.rpSignature,
                couponCode: couponCode,
                couponCode: couponCode,
              }),
            })
            .then(response => response.json())
            .then(data => {
              // Handle the JSON response
              console.log(data); // Access the data returned from the server
              // Perform any additional operations with the response data
            })
            .catch(error => {
              // Handle any errors that occur during the request
              console.error(error);
            })
            .then(response => response.json())
            .then(data => {
              // Handle the JSON response
              console.log(data); // Access the data returned from the server
              // Perform any additional operations with the response data
            })
            .catch(error => {
              // Handle any errors that occur during the request
              console.error(error);
            });
        }
      }
    }
  }
  // completeOrder() function for razorpay payment end ============================================


  // =======================================================================
  // PayPal PayPal PayPal PayPal PayPal PayPal PayPal PayPal PayPal PayPal 
  // =======================================================================


  paypal_sdk.Buttons({
    onClick: async function (data, actions) {

      var fname = document.getElementById("fname").value;
      var lname = document.getElementById("lname").value;
      var uname = document.getElementById("uname").value;
      var email = document.getElementById("email").value;
      var address1 = document.getElementById("address1").value;
      var address2 = document.getElementById("address2").value;
      var country = document.getElementById("validationCustom04").value;
      var city = document.getElementById("validationCustom05").value;
      var zip = document.getElementById("zip").value;

      var checkOutStatus = await handleCheckout();


      const options = document.getElementsByName("flexRadioDefaultForAddress");
      for (let i = 0; i < options.length; i++) {
        if (options[i].checked && options[i].value == "newAddress") {
          if (!fname || !lname || !uname || !email || !address1 || !address2 || !country || !city || !zip) {
            alert("Please fill the billing address form.");
            return actions.reject();
          } else {
            if (checkOutStatus) {
              return actions.resolve();
            } else {
              return actions.reject();
            }
          }
        } else {
          if (checkOutStatus) {
            return actions.resolve();
          } else {
            return actions.reject();
          }
        }
      }
    },

    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: price,
          },
        }, ],
      });
    },

    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        var transactionId = details.purchase_units[0].payments.captures[0].id;
        console.log('============>transactionId', transactionId)
        console.log('==================>details', details)
        console.log('============>data', data)
        console.log('============>data.paymentID', data.paymentID)
        console.log('============>data.order', data.orderID)


        completeOrder({
          'payPalTransactionID': details.purchase_units[0].payments.captures[0].id
        });
        setTimeout(function () {
          location.href = "{% url 'order_success' %}";
        }, 400);
      });
    },
  }).render("#paypal-button-container");




  //  =======================================================================
  //  RazorPay RazorPay RazorPay RazorPay RazorPay RazorPay RazorPay RazorPay
  // ========================================================================

  var options = {
    key: "{{rsk}}",
    amount: "{{payment.amount}}",
    currency: "{{payment.currency}}",
    name: "Voxo Ecommerce",
    description: "Order Transaction",
    order_id: "{{payment.id}}",
    handler: function (response) {
      if (response.error && response.error.code === 'payment_cancelled') {
        // Handle payment cancellation error
        alert("Payment has been cancelled. Please try again or complete the payment later.");
      }

      completeOrderForRazorPay({
        'rpPaymentId': response.razorpay_payment_id,
        'rpOrderId': response.razorpay_order_id,
        'rpSignature': response.razorpay_signature
      });
      setTimeout(function () {
        location.href = "{% url 'order_success' %}";
      }, 400);
    },
  };

  var rzpObject = new Razorpay(options);

  document.getElementById("rzp-button1").onclick = function (e) {
    var fname = document.getElementById("fname").value;
    var lname = document.getElementById("lname").value;
    var uname = document.getElementById("uname").value;
    var email = document.getElementById("email").value;
    var address1 = document.getElementById("address1").value;
    var address2 = document.getElementById("address2").value;
    var country = document.getElementById("validationCustom04").value;
    var city = document.getElementById("validationCustom05").value;
    var zip = document.getElementById("zip").value;

    handleCheckout()
      .then((checkOutStatus) => {
        const options = document.getElementsByName("flexRadioDefaultForAddress");
        for (let i = 0; i < options.length; i++) {
          if (options[i].checked && options[i].value == "newAddress") {
            if (!fname || !lname || !uname || !email || !address1 || !address2 || !country || !city || !zip) {
              alert("Please fill the billing address form.");
            } else {
              if (checkOutStatus) {
                rzpObject.open();
                e.preventDefault();
              } else {
                return;
              }
            }
          }
          if (options[i].checked && options[i].value != "newAddress") {
            if (checkOutStatus) {
              rzpObject.open();
              e.preventDefault();
            } else {
              return;
            }
          }
        }
      });
  };



  // ===============================================================
  // It will display payment option based on payment method selection

  const paymentMethodRadios = document.querySelectorAll('input[name="flexRadioDefault"]');
  const paypalProceedButton = document.querySelector("#paypal-button-container");
  console.log('Paypal Button container =====> ',paypalProceedButton)

  const razorPayProceedButton = document.querySelector("#rzp-button1");

  paypalProceedButton.style.display = "none";
  razorPayProceedButton.style.display = "none";

  paymentMethodRadios.forEach((radio) => {
    radio.addEventListener("click", (event) => {
      const options = document.getElementsByName("flexRadioDefaultForAddress");
      let isChecked = false;
      for (let i = 0; i < options.length; i++) {
        if (options[i].checked && (options[i].value == "newAddress" || options[i].value != "newAddress")) {
          isChecked = true;
          break;
        }
      }

      if (!isChecked) {
        event.preventDefault();
        alert("Please select at least one option from the billing address.");
      } else {
        const paymentMethod = event.target.value;
        if (paymentMethod === "PayPal") {
          paypalProceedButton.style.display = "block";
          razorPayProceedButton.style.display = "none";
        } else if (paymentMethod === "RazorPay") {
          paypalProceedButton.style.display = "none";
          razorPayProceedButton.style.display = "block";
        } else if (paymentMethod === "Stripe") {
          paypalProceedButton.style.display = "none";
          razorPayProceedButton.style.display = "none";
        }
      }
    });
  });

  // ============================================================
  // It will display billing address checking it checks coupon
  // ============================================================




  // ============================================================
  // It will display address option based on priviously saved address
  // ============================================================

  const addressMethodRadios = document.querySelectorAll('input[name="flexRadioDefaultForAddress"]');
  const addAddressDiv = document.querySelector("#new-address");
  const paymentOptions = document.querySelector("#payment-option");
  const couponCodeEle = document.getElementById('couponCode');
  const couponBtn = document.getElementById('couponBtn');


  //addAddressDiv.style.display = "none";
  //paymentOptions.style.display = "none";

  addressMethodRadios.forEach((radio) => {
    radio.addEventListener("change", (event) => {

      // yesOption.disabled = true;
      // noOption.disabled = true;
      couponCodeEle.disabled = true;
      couponBtn.disabled = true;

      const addressMethod = event.target.value;
      if (addressMethod === "newAddress") {
        addAddressDiv.style.display = "block";
        paymentOptions.style.display = "block";
      } else {
        addAddressDiv.style.display = "none";
        paymentOptions.style.display = "block";
      }
    });
  });

  // ============================================================

  // Handle Checkout Function Start ============================================================
  var cartId = getCookie("cid");

  async function handleCheckout() {
    var checkOutStatus = true;
    var url = "{% url 'cart_to_checkout_validation' %}";

    await fetch(url, {
        method: "POST",
        headers: {
          "Content-type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({
          cartId: cartId,
        }),
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.flag === "True") {
          // You can not Buy

          var checkoutMsgDiv = document.getElementById("checkoutMsgDiv");
          for (var i = 0; i < data.outOfStockProducts.length; i++) {
            var checkoutMsg = document.createElement("h5");
            checkoutMsg.setAttribute("id", "checkoutMsg" + i);
            checkoutMsg.innerHTML = "There is " + data.outOfStockProducts[i].outOfStockProducts +
              " stock of product " + data.outOfStockProducts[i].productName + ". Please update your cart.";
            checkoutMsgDiv.append(checkoutMsg);

            // Set a timeout to hide the checkoutMsg element after 3 seconds
            setTimeout(function (index) {
              var checkoutMsgElement = document.getElementById("checkoutMsg" + index);
              if (checkoutMsgElement) {
                checkoutMsgElement.remove();
              }
            }, 3000, i);
          }
          checkOutStatus = false;
        }
        if (data.flag === "False") {
          // You can Buy
        }
      });

    return checkOutStatus;
  }
  // Handle Checkout Function Start ============================================================

  // Set value in cookie Function Start ============================================================

  function setOrUpdateCookie(cookieName, cookieValue, expirationSeconds) {
    const existingCookie = getCookie(cookieName);

    if (existingCookie !== null) {
      // Cookie exists, update its value and expiration
      setCookie(cookieName, cookieValue, expirationSeconds);
    } else {
      // Cookie doesn't exist, set a new cookie
      setCookie(cookieName, cookieValue, expirationSeconds);
    }
  }

  function setCookie(cookieName, cookieValue, expirationSeconds) {
    const expirationDate = new Date();
    expirationDate.setTime(expirationDate.getTime() + expirationSeconds * 1000);
    const cookieString =
      `${encodeURIComponent(cookieName)}=${encodeURIComponent(cookieValue)}; expires=${expirationDate.toUTCString()}; path=/`;
    document.cookie = cookieString;
  }

  function getCookie(cookieName) {
    const cookieString = document.cookie;
    const cookies = cookieString.split(';');

    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(`${cookieName}=`)) {
        return cookie.substring(cookieName.length + 1);
      }
    }

    return null;
  }



  // Set value in cookie Function Start ============================================================




  // Handle coupon validation start ======================
  async function couponvalidation(params) {
    const couponCodeEle = document.getElementById('couponCode');
    console.log('couponCodeEle =====+>',couponCodeEle)

    const couponCode = couponCodeEle.value;
    console.log('couponCode =======>',couponCode)
    // const couponBtn = document.getElementById('couponBtn');
    // const price = params.price
    // const tax = params.tax
    // const priceInUSD = params.priceInUSD




    if (couponCode == '') {
      alert('Please enter a coupon code')
      console.log('AFTER ALERT ALERT ALERT')
      return;
    } else {
      // Usage example
      setOrUpdateCookie('couponCode', couponCode, 3600);
    }



    window.location.reload();

    // console.log('============>url',url)
    // await fetch(url, {
    //   method: "GET",
    //   headers: {
    //     "Content-type": "application/json",
    //     "X-CSRFToken": csrftoken,
    //   },
    //   // body: JSON.stringify({
    //     // couponCode: couponCode,
    //     // price: price,
    //     // tax: tax,
    //     // priceInUSD:priceInUSD,
    //   // }),
    // })

    // .then((response) => response.json())
    // .then((data) => {
    //   if (data.valid) {
    //     console.log('============>valid',data)
    //     // couponBtn.disabled = true;
    //     couponCodeEle.disabled = true;
    //     var couponAmount = document.getElementById("couponAmount")
    //     couponAmount.innerHTML = data.currencySymbol+''+data.couponAmount
    //     var finalAmount = document.getElementById("finalAmount")
    //     finalAmount.innerHTML = data.currencySymbol+''+data.finalAmount
    //     var finalAmountInUSD = document.getElementById("finalAmountInUSD")
    //     finalAmountInUSD.innerHTML = '$'+data.finalAmountInUSD
    //     // priceBt=data.finalAmount
    //     // yesOption.disabled = true;
    //     // noOption.disabled = true;
    //   }
    //   if (!data.valid) {
    //     console.log('============>IN valid',data)
    //     var couponAmount = document.getElementById("couponAmount")
    //     couponAmount.innerHTML = data.currencySymbol+''+data.couponAmount
    //     var finalAmount = document.getElementById("finalAmount")
    //     finalAmount.innerHTML = data.currencySymbol+''+data.finalAmount
    //     var finalAmountInUSD = document.getElementById("finalAmountInUSD")
    //     finalAmountInUSD.innerHTML ='$'+data.finalAmountInUSD
    //     // priceBt=data.finalAmount
    //     // couponBtn.disabled = true;
    //     couponCodeEle.disabled = true;
    //     // yesOption.disabled = true;
    //     // noOption.disabled = true;
    //   }
    // });

  }
  // Handle coupon validation end ========================
</script>

{% endblock script %}

{% block style %}
{% endblock style %}