{% extends 'pages/pages/pages-base.html' %}
{% load static %}
{% load custom_templatetags %}
{% load mathfilters %}
{% load sass_tags %}
{% block components %}

<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            {% if totalCartProducts|to_int == 0|to_int %}
            <!-- Order Success Section Start -->
            <section class="pt-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="empty-product-box success-icon">
                                <img loading="lazy" src="{% static 'assets/images/cartEmpty.png' %}" class="img-fluid"
                                    alt="">
                                <div class="success-contain">
                                    <h4>Your shopping cart is empty. Let's add something to it</h4>
                                </div>

                                <div>
                                    <a href="{% url 'index_default' %}"
                                        class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                        <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Order Success Section End -->
            {% else %}

            <div class="col-12">
                <div class="count-down">
                    <h5>Your cart will be expired in <span class="count-timer theme-color" id="timer"></span>
                        minutes !</h5>
                    <button type="button" onclick="handleCheckout({'cartId':'{{cartId}}'})"
                        class="btn btn-solid-default btn-sm fw-bold">Check Out</button>
                </div>
            </div>


            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>

                    
                    <tbody>
                        {% if request.user.is_authenticated %}
                        {% for product in cart_products %}
                        <tr>
                            <td>
                                <a href="{% url 'left_slidebar' product.cartProduct.variantProduct.id %}">
                                    <img loading="lazy" src="{{product.cartProduct.variantProduct.productImageFront}}"
                                        class=" blur-up lazyload" alt="">
                                </a>
                            </td>
                            <td>
                                <a
                                    href="{% url 'left_slidebar' product.cartProduct.variantProduct.id %}">{{product.cartProduct.variantProduct.productName}}</a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number"
                                                    value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2>{{""|return_currency_wise_symbol:request}}{{product.cartProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}
                                        </h2>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a href="javascript:void(0)">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2>{{""|return_currency_wise_symbol:request}}{{product.cartProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}
                                </h2>
                            </td>
                            <td>
                                {% comment %} <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" readonly name="quantity" id="addToCart"
                                            class="form-control ADD-TO-CART input-number" value="1" />

                                    </div>
                                </div> {% endcomment %}


                                <div class="qty-box">
                                    <div class="input-group cart-input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                data-field=""
                                                onClick="counterMinusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.cartProduct.id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}'})">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" readonly id="quantityInput{{forloop.counter}}"
                                            name="quantity{{forloop.counter}}" class="form-control input-number"
                                            value="{{product.cartProductQuantity}}">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-right-plus"
                                                onClick="counterPlusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.cartProduct.id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}',productQuantity:'{{product.cartProduct.productVariantQuantity}}'})">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </td>


                            <td>
                                <a href="{% url 'delete_cart_product' product.cartProduct.id %}">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                            <td>
                                <h2 class="td-color" id="priceOfTotalQuantity{{forloop.counter}}">
                                    {{""|return_currency_wise_symbol:request}}{{product.cartProductQuantityTotalPrice|return_currency_wise_ammount:request}}
                                </h2>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for product in cart_products %}
                        <tr>
                            <td>
                                <a href="{% url 'left_slidebar' product.product_id %}">
                                    <img loading="lazy" src="{{product.productImage}}"
                                        class=" blur-up lazyload" alt="">
                                </a>
                            </td>
                            <td>
                                <a
                                    href="{% url 'left_slidebar' product.product_id %}">{{product.productName}}</a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number"
                                                    value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2>{{""|return_currency_wise_symbol:request}}{{product.price|return_currency_wise_ammount:request}}
                                        </h2>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a href="javascript:void(0)">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2>{{""|return_currency_wise_symbol:request}}{{product.price|return_currency_wise_ammount:request}}
                                </h2>
                            </td>
                            <td>
                                {% comment %} <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" readonly name="quantity" id="addToCart"
                                            class="form-control ADD-TO-CART input-number" value="1" />

                                    </div>
                                </div> {% endcomment %}


                                <div class="qty-box">
                                    <div class="input-group cart-input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                data-field=""
                                                onClick="counterMinusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.variant_id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}'})">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" readonly id="quantityInput{{forloop.counter}}"
                                            name="quantity{{forloop.counter}}" class="form-control input-number"
                                            value="{{product.quantity}}">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-right-plus"
                                                onClick="beforecounterPlusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.variant_id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}',productQuantity:'{{product.quantity}}'})">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <a href="{% url 'delete_cart_product' product.variant_id %}">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                            <td>
                                <h2 class="td-color" id="priceOfTotalQuantity{{forloop.counter}}">
                                    {{""|return_currency_wise_symbol:request}}{{product.totalPrice|return_currency_wise_ammount:request}}
                                </h2>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 mt-md-5 mt-4">
                <div class="row">
                    <div class="col-sm-7 col-5 order-1">
                        <div class="left-side-button text-end d-flex d-block justify-content-end">
                            <a href="{% url 'delete_cart_all_product' %}"
                                class="text-decoration-underline theme-color d-block text-capitalize">clear
                                all items</a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a href="{% url 'index_default' %}" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-section">
                <div class="row g-4">
                    <div class="col-lg-8 col-sm-6">
                        <div class="checkout-button">
                            {% if request.user.is_authenticated %}

                            <a onclick="handleCheckout({'cartId':'{{cartId}}'})"
                                class="btn btn-solid-default btn fw-bold">
                                Check Out <i class="fas fa-arrow-right ms-1"></i></a>

                            {% else %}
                            <a href="{% url 'login_page' %}" class="btn btn-solid-default btn fw-bold">
                                Check Out <i class="fas fa-arrow-right ms-1"></i></a>

                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h3>Cart Totals</h3>
                                        {% if request.user.is_authenticated %}
                                            <h6>Total MRP <span
                                                    id="cartTotalPrice">{{""|return_currency_wise_symbol:request}}{{Cart.getTotalPrice|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                            {% comment %} <h6>Coupon Discount <span>-(currency symbol)(amount)</span></h6>
                                            {% endcomment %}
                                            <h6> Tax <span
                                                    id="taxPrice">{{""|return_currency_wise_symbol:request}}{{Cart.getTotalTax|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                            <h6>Price After Tax <span
                                                    id="priceAfterTax">{{""|return_currency_wise_symbol:request}}{{cartTotalPriceAfterTax|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                        {% else %}
                                            <h6>Total MRP <span
                                                    id="cartTotalPrice">{{""|return_currency_wise_symbol:request}}{{cartTotalPrice|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                            {% comment %} <h6>Coupon Discount <span>-(currency symbol)(amount)</span></h6>
                                            {% endcomment %}
                                            <h6> Tax <span
                                                    id="taxPrice">{{""|return_currency_wise_symbol:request}}{{cartTotalTax|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                            <h6>Price After Tax <span
                                                    id="priceAfterTax">{{""|return_currency_wise_symbol:request}}{{cartTotalPriceAfterTax|return_currency_wise_ammount:request}}</span>
                                            </h6>
                                        {% endif %}
                                    </div>
                                    <div class="bottom-details">
                                        {% comment %} <a href="{% url 'checkout_page' %}">Process Checkout</a>
                                        {% endcomment %}
                                        {% if request.user.is_authenticated %}
                                        <a onclick="handleCheckout({'cartId':'{{cartId}}'})">Process
                                            Checkout</a>
                                        {% else %}
                                        <a href="{% url 'login_page' %}">Process
                                            Checkout</a>
                                        {% endif %}
                                    </div>
                                    <div id='cartMsgDiv'>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
<!-- Cart Section End -->


<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie("csrftoken");

    async function handleCheckout(params) {
        var url = "{% url 'cart_to_checkout_validation' %}";
        var pageUrl = window.location.href;
        console.log('pageUrl ============>',pageUrl)

        await fetch(url, {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    cartId: params.cartId,
                }),
            })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                if (data.flag === "True") {
                    var cartMsgDiv = document.getElementById("cartMsgDiv");
                    for (var i = 0; i < data.outOfStockProducts.length; i++) {
                        var cartMsg = document.createElement("h5");
                        cartMsg.setAttribute("id", "cartMsg" + i);
                        cartMsg.innerHTML = "There is " + data.outOfStockProducts[i].outOfStockProducts +
                            " stock of product " + data.outOfStockProducts[i].productName + ".";
                        cartMsgDiv.append(cartMsg);
                        // Set a timeout to hide the cartMsg element after 3 seconds
                        setTimeout(function (index) {
                            var cartMsgElement = document.getElementById("cartMsg" + index);
                            if (cartMsgElement) {
                                cartMsgElement.remove();
                            }
                        }, 3000, i);
                    }
                }
                if (data.flag === "False") {
                    window.location.href = "{% url 'checkout_page' %}";
                }
            });
    }
</script>

{% endblock components %}



<div class="product-details">
    <div class="rating-details">
      <span class="font-light grid-content">{{product.proCategory}}</span>
      <ul class="rating mt-0">

        {% comment %}
        <!-- ------------------------------------------------------------------- --> {% endcomment %}
        {% if product.productFinalRating|to_int < 5|to_int %}
        {% for x in product.productFinalRating|times %} <li>
          <a class="fas fa-star theme-color" id="productOfStar"
            href="{% url 'left_slidebar' product.id %}"></a>
        </li>
        {% endfor %}

        {% with number1=5|to_int number2=product.productFinalRating|to_int %}
        {% with number3=number1|sub:number2 %}


        {% for x in number3|times %}
        <li>
          <i class="fas fa-star"></i>
        </li>
        {% endfor %}

        {% endwith %}
        {% endwith %}

        {% else %}
        <li>
          <i class="fas fa-star theme-color"></i>
        </li>
        <li>
          <i class="fas fa-star theme-color"></i>
        </li>
        <li>
          <i class="fas fa-star theme-color"></i>
        </li>
        <li>
          <i class="fas fa-star theme-color"></i>
        </li>
        <li>
          <i class="fas fa-star theme-color"></i>
        </li>
        {% endif %}
        <!-- ------------------------------------------------------------------- -->
      </ul>
    </div>
    <div class="main-price">
      <a href="{% url 'shop_left_slidebar' %}" class="font-default">
        <h5>{{product.productName}}</h5>
      </a>
      <div class="listing-content">
        <span class="font-light">Regular Fit</span>
        <p class="font-light">{{product.productDescription}}</p>
      </div>

      {% if product.productType == "Simple" %}
      <h3 class="theme-color">
        {{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}
      </h3>
      {% else %}
      <h3 class="theme-color">{{product.product_price_range|return_currency_wise_ammount_range:request}}
      </h3>
      {% endif %}

      <button onclick="location.href = {% url 'add_to_cart' product.id '1' %}"
        class="btn listing-content">Add To Cart</button>
    </div>
  </div>








{% if reviewStatus %}
<div class="col-lg-8">
    <p class="d-inline-block me-2">Rate this product</p>
    <ul class="rating mb-3 d-inline-block" id="starRating">
    <i class="fas fa-star" id="star1"></i>
    <i class="fas fa-star" id="star2"></i>
    <i class="fas fa-star" id="star3"></i>
    <i class="fas fa-star" id="star4"></i>
    <i class="fas fa-star" id="star5"></i>
    </ul>
    <input type="hidden" name="rating" id="rating">

    <div class="review-box">
    <div class="col-12">
        <label class="mb-1" for="comments">Comments</label>
        <textarea class="form-control" name='comment' placeholder="Leave a comment here..." id="comments"
        style="height: 100px" required></textarea>
    </div>

    <div class="col-12">
        <button type="submit" onclick="submitReview({'productId':'{{product.id}}'})"
        class="btn default-light-theme default-theme default-theme-2">
        Submit
        </button>
    </div>
    </div>
</div>
{% endif %}