{% for banner in allbanners  %}
{% if banner.bannerType|to_str == '	Right Banner' %}
<div class="col-6 ">
   <div class="collection-banner-main banner-2">
      <div class="collection-img">
         <img src="{{banner.bannerImage}}" class="img-fluid bg-img  " alt="banner">
      </div>
      <div class="collection-banner-contain ">
         <div>
            <h3>{{banner.bannerProduct.variantProduct.productName}}</h3>
            <h4>{{banner.titleOne}}</h4>
            <div class="shop">
               <a href="product-page(left-sidebar).html">
                  shop now
                  <i class="fa fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endfor %}