{% extends 'base/pages-base.html' %}
{% load static %}
{% load custom_templatetags %}
{% load mathfilters %}
{% load sass_tags %}



{% block components %}

<!--section start-->
<section class="collection section-big-py-space ratio_square b-g-light">
  <div class="container">
    <div class="row partition-collection">
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/1.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>smart phone</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/2.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>laptop</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/3.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>woman 's top</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/4.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>leather bag</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row partition-collection section-big-pt-space">
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/5.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>man 's shoes</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/6.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>necklace</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/7.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>speaker</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <div>
            <img src="{% static 'assets/images/layout-1/product/8.jpg' %}" class="img-fluid  bg-img"
              alt="collection-img">
          </div>
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>refrigerator</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
            <a href="{% url 'shop_left_sidebar' %}" class="btn btn-normal">shop now !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->

{% endblock components %}