{% extends 'base/pages-base.html' %}
{% load static %}
{% load custom_templatetags %}
{% load mathfilters %}
{% load sass_tags %}



{% block components %}

<!-- look-book  start -->
<section class="lookbook section-big-py-space ratio_square b-g-light">
    <div class="container">
        <div class="row lookbook-part">
            <div class="col-md-6">
                <div class="lookbook-block">
                    <div>
                        <img src="{% static 'assets/images/look-book/1.jpg' %}" class="img-fluid  bg-img" alt="">
                    </div>
                    <div class="lookbook-dot"><span>1</span>
                        <a href="javascript:void(0)">
                            <div class="dot-showbox"><img src="{% static 'assets/images/product-sidebar/002.jpg' %}" class="img-fluid " alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6></div>
                            </div>
                        </a>
                    </div>
                    <div class="lookbook-dot dot2"><span>2</span>
                        <a href="javascript:void(0)">
                            <div class="dot-showbox"><img src="{% static 'assets/images/product-sidebar/001.jpg' %}" class="img-fluid  " alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lookbook-block">
                    <div>
                        <img src="{% static 'assets/images/look-book/2.jpg' %}" class="img-fluid  bg-img" alt="">
                    </div>
                    <div class="lookbook-dot dot3"><span>1</span>
                        <a href="javascript:void(0)">
                            <div class="dot-showbox"><img src="{% static 'assets/images/product-sidebar/003.jpg' %}" class="img-fluid " alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6></div>
                            </div>
                        </a>
                    </div>
                    <div class="lookbook-dot dot4"><span>2</span>
                        <a href="javascript:void(0)">
                            <div class="dot-showbox"><img src="{% static 'assets/images/product-sidebar/004.jpg' %}" class="img-fluid " alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- look-book ends -->

{% endblock components %} 