{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

<div class="col-xl-3 col-lg-4 collection-filter category-page-side" id="filterBase">
  <!-- side-bar colleps block stat -->
  <form action="{% url 'create_query_params_url' path %}" method="post">
    {% csrf_token %}
    <div class="collection-filter-block creative-card creative-inner category-side">
      <!-- brand filter start -->
      <div class="collection-mobile-back">
        <span class="filter-back"><i class="fa fa-angle-left"></i> back</span>
      </div>
      <div class="main-filter-box">
        <div class="collection-collapse-block open">
          <h3 class="collapse-block-title mt-0">brand</h3>
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter">
              {% for brand in ProductsBrand %}
              <div class="custom-control custom-checkbox form-check collection-filter-checkbox">
                <input type="checkbox" name="allbrand" value="{{brand.brandName}}" class="custom-control-input form-check-input" id="{{brand.brandName}}brandsCheckBox" {% if brand.brandName in request.GET.brands %} checked {% endif %}>
                <label class="custom-control-label form-check-label" for="{{brand.brandName}}brandsCheckBox">{{brand.brandName}} ({{brand.brandTotalProduct}})</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {% for name,values in attributeDict.items %}

        <!-- size filter start here -->
        <div class="collection-collapse-block open">
          <h3 class="collapse-block-title">{{name}}</h3>
          <div class="collection-collapse-block-content">
            <div class="size-selector">
              <div class="collection-brand-filter">
                {% for value in values %}
                <div class="custom-control custom-checkbox form-check collection-filter-checkbox">
                  <input type="checkbox" class="custom-control-input form-check-input" id="{{value}}{{name}}CheckBox" name="{{name}}" value="{{value}}" {% if value in request.GET.selectedAttribute|return_selected_attribute_list:request %} checked  {% endif %}>
                  <label class="custom-control-label form-check-label" for="{{value}}{{name}}CheckBox">{{value}}</label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}


        <!-- price filter start here -->
        <div class="collection-collapse-block open">
          <h3 class="collapse-block-title">price</h3>
          <div class="collection-collapse-block-content">
            <div class="filter-slide">
              <input class="js-range-slider" type="text" min="{{min_price}}" max="{{max_price}}" prefix="{{symbol}}" name="pricefilter" data-filter="price" id="filter-price-range" value="" data-type="double"/>
            </div>
          </div>
        </div>
        
        <!-- submit button -->
        <div>
          <button type="submit" class="btn submit-btn btn-normal" id="submitBtnAtFilterSidebar">Submit</button>
        </div>
      </div>
      </div>
    </form>
  <!-- silde-bar colleps block end here -->

  <!-- side-bar single product slider start -->
  <div class="theme-card creative-card creative-inner">
    <h5 class="title-border">new product</h5>
    <div class="slide-1">
      <div>
        <div class="media-banner plrb-0 b-g-white border-0">
          {% for product in last_added_products|slice:"6:9" %}
          <div class="media-banner-box">
            <div class="media">
              <a href="{% url 'left_slidebar' product.id %}" tabindex="0">
                <img src="{{product.productImageFront}}" class="img-fluid " alt="banner">
              </a>
              <div class="media-body">
                <div class="media-contant">
                  <div>
                    <div class="product-detail">
                      <div class="rating-star">
                        {% if product.productFinalRating|to_int < 5|to_int %}
                        {% for x in product.productFinalRating|times %}
                        <li>
                          <a class="fa fa-star theme-color" id="productOfStar" href="{% url 'left_slidebar' product.id %}"></a>
                        </li>
                        {% endfor %}
  
                        {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                        {% with number3=number1|sub:number2 %}
  
                        {% for x in number3|times %}
                        <li>
                          <i class="fa fa-star"></i>
                        </li>
                        {% endfor %}
  
                        {% endwith %}
                        {% endwith %}
  
                        
                        {% else %}
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        {% endif %}
                      </div> 
                      <a href="{% url 'left_slidebar' product.id %}" tabindex="0"><p>{{product.productName}}</p></a>
                      <h6>
                        {% if product.productType == "Simple" %}
                        {{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}
                        {% else %}
                        {{product.product_price_range|return_currency_wise_ammount_range:request}}
                        {% endif %}
                          <span>
                          {% if product.productType == "Simple" %} 
                          {{""|return_currency_wise_symbol:request}}{{product.product_actual_price_range|return_currency_wise_ammount:request}} 
                          {% else %} 
                          {{product.product_actual_price_range|return_currency_wise_ammount_range:request}}
                          {% endif %}
                        </span>
                      </h6>
                    </div>
                    <div class="cart-info">
                      <a href="{% url 'add_to_cart' product.id|return_first_product_variant 1 %}" class="add-cartnoty tooltip-top" data-tippy-content="Add to cart" >
                        <i data-feather="shopping-cart"></i> 
                      </a>
                      <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}"  class="add-to-wish tooltip-top wishlist"  data-tippy-content="Add to Wishlist"><i  data-feather="heart"></i></a>
                      <a onclick="handleQuickView({'productId':'{{product.id}}','productVariantId':'{{product.id|return_first_product_variant}}'})" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                      <a href="{% url 'compare_products' product.id|return_first_product_variant %}"  class="add-to-compare-list tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <div>
        <div class="media-banner plrb-0 b-g-white border-0">
          {% for product in last_added_products|slice:"3:6" %}
          <div class="media-banner-box">
            <div class="media">
              <a href="{% url 'left_slidebar' product.id %}" tabindex="0">
                <img src="{{product.productImageFront}}" class="img-fluid " alt="banner">
              </a>
              <div class="media-body">
                <div class="media-contant">
                  <div>
                    <div class="product-detail">
                      <div class="rating-star">
                        {% if product.productFinalRating|to_int < 5|to_int %}
                        {% for x in product.productFinalRating|times %}
                        <li>
                          <a class="fa fa-star theme-color" id="productOfStar" href="{% url 'left_slidebar' product.id %}"></a>
                        </li>
                        {% endfor %}
  
                        {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                        {% with number3=number1|sub:number2 %}
  
                        {% for x in number3|times %}
                        <li>
                          <i class="fa fa-star"></i>
                        </li>
                        {% endfor %}
  
                        {% endwith %}
                        {% endwith %}
  
                        
                        {% else %}
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        {% endif %}
                      </div> 
                      <a href="{% url 'left_slidebar' product.id %}" tabindex="0"><p>{{product.productName}}</p></a>
                      <h6>
                        {% if product.productType == "Simple" %}
                        {{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}
                        {% else %}
                        {{product.product_price_range|return_currency_wise_ammount_range:request}}
                        {% endif %}
                        <span>
                          {% if product.productType == "Simple" %} 
                          {{""|return_currency_wise_symbol:request}}{{product.product_actual_price_range|return_currency_wise_ammount:request}} 
                          {% else %} 
                          {{product.product_actual_price_range|return_currency_wise_ammount_range:request}}
                          {% endif %}
                        </span>
                      </h6>
                    </div>
                    <div class="cart-info">
                      <a href="{% url 'add_to_cart' product.id|return_first_product_variant 1 %}" class="add-cartnoty tooltip-top" data-tippy-content="Add to cart" >
                        <i data-feather="shopping-cart"></i> 
                      </a>
                      <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}"  class="add-to-wish tooltip-top wishlist"  data-tippy-content="Add to Wishlist"><i  data-feather="heart"></i></a>
                      <a onclick="handleQuickView({'productId':'{{product.id}}','productVariantId':'{{product.id|return_first_product_variant}}'})" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                      <a href="{% url 'compare_products' product.id|return_first_product_variant %}"  class="add-to-compare-list tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div>
        <div class="media-banner plrb-0 b-g-white border-0">
          {% for product in last_added_products|slice:"0:3" %}
          <div class="media-banner-box">
            <div class="media">
              <a href="{% url 'left_slidebar' product.id %}" tabindex="0">
                <img src="{{product.productImageFront}}" class="img-fluid " alt="banner">
              </a>
              <div class="media-body">
                <div class="media-contant">
                  <div>
                    <div class="product-detail">
                      <div class="rating-star">
                        {% if product.productFinalRating|to_int < 5|to_int %}
                        {% for x in product.productFinalRating|times %}
                        <li>
                          <a class="fa fa-star theme-color" id="productOfStar" href="{% url 'left_slidebar' product.id %}"></a>
                        </li>
                        {% endfor %}
  
                        {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                        {% with number3=number1|sub:number2 %}
  
                        {% for x in number3|times %}
                        <li>
                          <i class="fa fa-star"></i>
                        </li>
                        {% endfor %}
  
                        {% endwith %}
                        {% endwith %}
  
                        
                        {% else %}
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fa fa-star theme-color"></i>
                        </li>
                        {% endif %}
                      </div> 
                      <a href="{% url 'left_slidebar' product.id %}" tabindex="0"><p>{{product.productName}}</p></a>
                      <h6>
                        {% if product.productType == "Simple" %}
                        {{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}
                        {% else %}
                        {{product.product_price_range|return_currency_wise_ammount_range:request}}
                        {% endif %}
                        <span>
                          {% if product.productType == "Simple" %} 
                          {{""|return_currency_wise_symbol:request}}{{product.product_actual_price_range|return_currency_wise_ammount:request}} 
                          {% else %} 
                          {{product.product_actual_price_range|return_currency_wise_ammount_range:request}}
                          {% endif %}
                        </span>
                      </h6>
                    </div>
                    <div class="cart-info">
                      <a href="{% url 'add_to_cart' product.id|return_first_product_variant 1 %}" class="add-cartnoty tooltip-top" data-tippy-content="Add to cart" >
                        <i data-feather="shopping-cart"></i> 
                      </a>
                      <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}"  class="add-to-wish tooltip-top wishlist"  data-tippy-content="Add to Wishlist"><i  data-feather="heart"></i></a>
                      <a onclick="handleQuickView({'productId':'{{product.id}}','productVariantId':'{{product.id|return_first_product_variant}}'})" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                      <a href="{% url 'compare_products' product.id|return_first_product_variant %}"  class="add-to-compare-list tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- side-bar single product slider end -->
  <!-- side-bar banner start here -->
  <div class="collection-sidebar-banner">
    <a href="javascript:void(0)"><img src="{{sidebar_banner.bannerImage}}" class="img-fluid " alt=""></a>
  </div>
  <!-- side-bar banner end here -->
</div>