{% extends 'pages/shop/shop-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}
{% block components %}


<!-- main section start -->
<section class="section-big-pt-space b-g-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-t-space portfolio-section portfolio-padding pb-0 metro-section port-col">
                    <div class="isotopeContainer row metro-block">
                        {% for banner in allbanners %} 
                        {% if banner.bannerType|to_str == 'Shop full width' %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 isotopeSelector">
                            <div class="product">
                                <div class="product-box">
                                    <div class="product-imgbox">
                                        <div class="product-front">
                                            <a href="{% url 'shop_left_sidebar' %}">
                                            <img src="{{banner.bannerImage}}" class="img-fluid" alt="product">
                                          </a>
                                        </div>
                                        <div class="product-icon">
                                             <button class="tooltip-left add-cartnoty" data-tippy-content="Add to cart"> <i  data-feather="shopping-cart"></i> </button>
                                            <a href="javascript:void(0)"  class="add-to-wish tooltip-left"  data-tippy-content="Add to Wishlist" >
                                                <i  data-feather="heart"></i>
                                            </a>
                                            <a href="javascript:void(0)"  class="tooltip-left"  data-tippy-content="Quick View">
                                                <i  data-feather="eye"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="tooltip-left" data-tippy-content="Compare">
                                                <i  data-feather="refresh-cw"></i>
                                            </a>
                                        </div>
                                        <div class="product-detail">
                                            <a href="javascript:void(0)">
                                                <h6>{{banner.titleOne}}</h6>
                                            </a>
                                            <h4>{{""|return_currency_wise_symbol:request}}{{banner.bannerProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main section end -->

<!-- pagination start -->
<section class="b-g-light section-big-pb-space">
  <div class="custom-container">
      <div class="row">
          <div class="col">
              <div class="product-pagination mt-0">
                  <div class="theme-paggination-block">
                      <div class="container-fluid p-0">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span><i class="fa fa-chevron-left"></i></span> <span class="sr-only">Previous</span></a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span><i class="fa fa-chevron-right"></i></span> <span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- pagination end -->



{% endblock components %}