{% extends 'pages/shop/shop-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}
{% block components %}


<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function redirectToCreateQueryParamsUrl(params) {
      var removeTagId = params.value+params.key+"CheckBox";
      var attributeCheckBox=document.getElementById(removeTagId);
      attributeCheckBox.checked = false;
      var sbmtButton = document.getElementById('submitBtnAtFilterSidebar');
      sbmtButton.click();
  }
</script>


<!-- section start -->
<section class="section-big-pt-space ratio_asos b-g-light">
  <div class="collection-wrapper">
    <div class="custom-container">
      <div class="row">
        {% include 'pages/shop/filter-base.html' %}
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="top-banner-wrapper">
                  <a href="product-page(left-sidebar).html"><img src="{{shop_banner.bannerImage}}" class="img-fluid " alt=""></a>
                  <div class="top-banner-content small-section">
                    <h4>fashion</h4>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>

                  
                <div class="col-md-12">
                  <ul class="short-name">
                      {% for key, value in request.GET.items %}
                      {% if key != 'selectedAttribute' and key != 'price' %}
                      {% for attribute in value|return_selected_attribute_list:request %}
                      <li>
                          <div class="label-tag">
                              <span>{{attribute}}-{{key}}</span>
                              <button type="button" class="btn-close"
                                  onclick="redirectToCreateQueryParamsUrl({'key':'{{ key }}','value':'{{ attribute }}','path':'{{path}}'})"></button>
                          </div>
                      </li>
                      {% endfor %}
                      {% endif %}

                      {% if key == 'price' %}
                      {% with price_values=value|return_selected_attribute_list:request %}
                      {% if price_values %}
                      <li>
                          <div class="label-tag">
                              <span>Price: {{""|return_currency_wise_symbol:request}}{{price_values.0}} -
                                  {{""|return_currency_wise_symbol:request}}{{price_values|last}}</span>
                          </div>
                      </li>
                      {% endif %}
                      {% endwith %}
                      {% endif %}

                      {% endfor %}

                      {% if 'price' in request.GET or 'selectedAttribute' in request.GET or 'brands' in request.GET or 'discount' in request.GET or 'ratings' in request.GET %}
                      {% if request.GET.page %}

                      <div class="label-tag">
                          <a href="{% url 'shop_left_sidebar' %}"><span>Clear All</span></a>
                      </div>

                      {% endif %}
                      {% endif %}


                      {% if request.path == '/shop_left_sidebar' or request.GET.page %}
                      {% if 'price' not in request.GET %}

                      <li>
                          <div class="label-tag">
                              <span>Price: {{""|return_currency_wise_symbol:request}}{{min_price}} -
                                  {{""|return_currency_wise_symbol:request}}{{max_price}}</span>
                          </div>
                      </li>

                      {% endif %}
                      {% endif %}


                      {% if request.path != '/shop_left_sidebar' or request.GET %}
                      {% if not request.GET.page %}

                      <div class="label-tag">
                          <a href="{% url 'shop_left_sidebar' %}"><span>Clear All</span></a>
                      </div>
                      {% endif %}
                      {% endif %}

                  </ul>
                </div>


                <div class="collection-product-wrapper">
                  <div class="product-top-filter">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="filter-main-btn"><span class="filter-btn  "><i class="fa fa-filter" aria-hidden="true"></i> Filter</span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="product-filter-content">
                          <div class="search-count">
                            <h5>Showing Products 1-24 of {{totalCount}} Result</h5></div>
                          <div class="collection-view">
                            <ul>
                              <li><i class="fa fa-th grid-layout-view"></i></li>
                              <li><i class="fa fa-list-ul list-layout-view"></i></li>
                            </ul>
                          </div>
                          <div class="collection-grid-view">
                            <ul>
                              <li><img src="{% static 'assets/images/category/icon/2.png' %}" alt="" class="product-2-layout-view"></li>
                              <li><img src="{% static 'assets/images/category/icon/3.png' %}" alt="" class="product-3-layout-view"></li>
                              <li><img src="{% static 'assets/images/category/icon/4.png' %}" alt="" class="product-4-layout-view"></li>
                              <li><img src="{% static 'assets/images/category/icon/6.png' %}" alt="" class="product-6-layout-view"></li>
                            </ul>
                          </div>
                          <div class="product-page-per-view">
                            <select>
                              <option value="High to low">24 Products Par Page</option>
                              <option value="Low to High">50 Products Par Page</option>
                              <option value="Low to High">100 Products Par Page</option>
                            </select>
                          </div>
                          <div class="product-page-filter">
                            <select>
                              <option value="High to low">Sorting items</option>
                              <option value="Low to High">50 Products</option>
                              <option value="Low to High">100 Products</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-wrapper-grid product">
                    <div class="row">
                      {% if page_obj %}
                      {% for product in page_obj %}
                      <div class="col-xl-3 col-md-4 col-6  col-grid-box">
                        <div class="product-box">
                          <div class="product-imgbox">
                            <div class="product-front">
                              <a href="product-page(left-sidebar).html"> <img src="{{product.variantProduct.productImageFront}}" class="img-fluid  " alt="product"> </a>
                            </div>
                            <div class="product-back">
                              <a href="product-page(left-sidebar).html"> <img src="{{product.variantProduct.productImageBack}}" class="img-fluid  " alt="product"> </a>
                            </div>
                          </div>
                          <div class="product-detail detail-center detail-inverse">
                            <div class="detail-title">
                              <div class="detail-left">
                                <div class="rating-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                <a href="product-page(left-sidebar).html">
                                  <h6 class="price-title">
                                    {{product.variantProduct.productName}}
                                  </h6> </a>
                              </div>
                              <div class="detail-right">
                                <div class="check-price">
                                  {% if product.variantProduct.productType == "Simple" %}
                                    <del>{{""|return_currency_wise_symbol:request}}{{product.variantProduct.product_actual_price_range|return_currency_wise_ammount:request}}</del=>
                                  {% else %}
                                    <del>{{product.variantProduct.product_actual_price_range|return_currency_wise_ammount_range:request}}</=>
                                  {% endif %}
                                </div>
                                <div class="price">
                                  <div class="price">
                                    {% if product.variantProduct.productType == "Simple" %}
                                    <h3 class="theme-color">{{""|return_currency_wise_symbol:request}}{{product.variantProduct.product_price_range|return_currency_wise_ammount:request}}</h3>
                                    {% else %}  
                                    <h3 class="theme-color">{{product.variantProduct.product_price_range|return_currency_wise_ammount_range:request}}</h3>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="icon-detail">                             
                              <button class="tooltip-top add-cartnoty" data-tippy-content="Add to cart"> <i  data-feather="shopping-cart"></i> </button>
                              <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" > <i  data-feather="heart"></i> </a>
                              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"> <i  data-feather="eye"></i> </a>
                              <a href="compare.html" class="tooltip-top" data-tippy-content="Compare"> <i  data-feather="refresh-cw"></i> </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}                                         
                    </div>
                  </div>
                  
                  {% if page_obj.has_other_pages %}
                  <div class="product-pagination">
                    <div class="theme-paggination-block">
                      <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                              <li class="page-item"><a class="page-link" href="{{page_obj.previous_page_number|update_url_parameters:request}}" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> <span class="sr-only">Previous</span></a></li>
                              {% endif %}

                              {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <span class="current-page">{{ num }}</span>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="{{num|update_url_parameters:request}}">{{num}}</a></li>
                                {% endif %}
                              {% endfor %}

                              {% if page_obj.has_next %}
                              <li class="page-item"><a class="page-link" href="{{page_obj.next_page_number|update_url_parameters:request}}" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span class="sr-only">Next</span></a></li>
                              {% endif %}
                              {% endif %}
                            </ul>
                          </nav>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                          <div class="product-search-count-bottom">
                            <h5>Showing Products 1-24 of {{totalCount}} Result</h5></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="success-icon">
                      <img src="{% static 'assets/images/noproductsfound.png' %}" alt="">
                  </div>
                  {% endif %}
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- section End --> 


{% endblock components %}


{% block script %}
  
<!-- range sldier -->
<script src="{% static 'assets/js/ion.rangeSlider.js' %}"></script>
<script src="{% static 'assets/js/rangeslidermain.js' %}"></script>

{% endblock script %}



