{% extends 'base/pages-base.html' %}
{% load static %}
{% load custom_templatetags %}
{% load mathfilters %}
{% load sass_tags %}
{% block components %}

<!--section start-->
<section class="cart-section section-big-py-space b-g-light">
  <div class="custom-container">
    <div class="row">
      {% if totalCartProducts|to_int == 0|to_int %}

      <section class="pt-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 p-0 mb-3">
              <div class="empty-product-box success-icon" style="text-align: center">
                <img loading="lazy" src="{% static 'assets/images/cartEmpty.png' %}" class="img-fluid" alt=""/>
              </div>
            </div>
            <div class="text-center mt-4">
              <a href="{% url 'index' %}" class="btn btn-normal">continue shopping</a>
            </div>
          </div>
        </div>
      </section>

      {% else %}

      <div class="col-12">
        <div class="cart-table-box">
          <div class="left-side-button">
            <h3>Shopping cart <span>({{totalCartProducts}})</span></h3>
            <a href="{% url 'delete_cart_all_product' %}">
                <i class="fa fa-trash-o"></i> clear all items</a>
          </div>
          <div class="table-responsive cart-table">
            <table class="table m-0">
              <thead>
                <tr class="table-head">
                  <th>image</th>
                  <th>product name</th>
                  <th>price</th>
                  <th>quantity</th>
                  <th>action</th>
                  <th>total</th>
                </tr>
              </thead>
              <tbody>
                {% if request.user.is_authenticated %} {% for product in cart_products %}
                <tr>
                  <td>
                    <a href="{% url 'left_slidebar' product.cartProduct.variantProduct.id %}">
                      <img loading="lazy" src="{{product.cartProduct.variantProduct.productImageFront}}" class="blur-up lazyload" alt=""/>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'left_slidebar' product.cartProduct.variantProduct.id %}">{{product.cartProduct.variantProduct.productName}}</a>
                    <div class="mobile-cart-content row gx-3">
                      <div class="col">
                        <div class="qty-box">
                          <div class="input-group">
                            <input type="text" name="quantity" class="form-control input-number" value="1"/>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <h2>
                          {{""|return_currency_wise_symbol:request}}{{product.cartProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}
                        </h2>
                      </div>
                      <div class="col">
                        <h2 class="td-color">
                          <a href="javascript:void(0)">
                            <i class="fa fa-times"></i>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h2>
                      {{""|return_currency_wise_symbol:request}}{{product.cartProduct.productVariantFinalPrice|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  <td>
                    <div class="qty-box">
                      <div class="input-group cart-input-group">
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-left-minus"
                            data-type="minus"
                            data-field=""
                            onclick="counterMinusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.cartProduct.id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}'})"></button>
                        </span>
                        <input
                          type="text"
                          readonly
                          id="quantityInput{{forloop.counter}}"
                          name="quantity{{forloop.counter}}"
                          class="form-control"
                          value="{{product.cartProductQuantity}}"
                        />
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-right-plus"
                            onclick="counterPlusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.cartProduct.id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}',productQuantity:'{{product.cartProduct.productVariantQuantity}}'})"></button>
                        </span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="icon-box">
                        <a href="{% url 'delete_cart_product' product.cartProduct.id %}" class="icon">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                  </td>
                  <td>
                    <h2 class="td-color price-table" id="priceOfTotalQuantity{{forloop.counter}}">
                      {{""|return_currency_wise_symbol:request}}{{product.cartProductQuantityTotalPrice|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                </tr>
                {% endfor %} {% else %} {% for product in cart_products %}
                <tr>
                  <td>
                    <a href="{% url 'left_slidebar' product.product_id %}">
                      <img
                        loading="lazy"
                        src="{{product.productImage}}"
                        class="blur-up lazyload"
                        alt=""
                      />
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'left_slidebar' product.product_id %}">{{product.productName}}</a>
                    <div class="mobile-cart-content row gx-3">
                      <div class="col">
                        <div class="qty-box">
                          <div class="input-group">
                            <input
                              type="text"
                              name="quantity"
                              class="form-control input-number"
                              value="1"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <h2>
                          {{""|return_currency_wise_symbol:request}}{{product.price|return_currency_wise_ammount:request}}
                        </h2>
                      </div>
                      <div class="col">
                        <h2 class="td-color">
                          <a href="javascript:void(0)">
                            <i class="fa fa-times"></i>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h2>
                      {{""|return_currency_wise_symbol:request}}{{product.price|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  <td>
                    <div class="qty-box">
                      <div class="input-group cart-input-group">
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-left-minus"
                            data-type="minus"
                            data-field=""
                            onclick="counterMinusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.variant_id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}'})">
                            <i class="fas fa-minus"></i>
                          </button>
                        </span>
                        <input
                          type="text"
                          readonly
                          id="quantityInput{{forloop.counter}}"
                          name="quantity{{forloop.counter}}"
                          class="form-control"
                          value="{{product.quantity}}"/>
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-right-plus"
                            onclick="beforecounterPlusAtCart({key:'quantityInput{{forloop.counter}}',productVariantId:'{{product.variant_id}}',totalPriceEle:'priceOfTotalQuantity{{forloop.counter}}',productQuantity:'{{product.quantity}}'})">
                            <i class="fas fa-plus"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="icon-box">
                        <a href="{% url 'delete_cart_product' product.variant_id %}" class="icon">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                  </td>
                  <td>
                    <h2 class="td-color price-table" id="priceOfTotalQuantity{{forloop.counter}}">
                      {{""|return_currency_wise_symbol:request}}{{product.totalPrice|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                </tr>
                {% endfor %} {% endif %}
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table cart-table m-0">
              <tfoot>
                <tr>
                  <td>Total price :</td>

                  {% if request.user.is_authenticated %}
                  <td>
                    <h2 id="cartTotalPrice">
                      {{""|return_currency_wise_symbol:request}}{{Cart.getTotalPrice|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% else %}
                  <td>
                    <h2 id="cartTotalPrice">
                      {{""|return_currency_wise_symbol:request}}{{cartTotalPrice|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Total Tax :</td>

                  {% if request.user.is_authenticated %}
                  <td>
                    <h2 id="taxPrice">
                      {{""|return_currency_wise_symbol:request}}{{Cart.getTotalTax|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% else %}
                  <td>
                    <h2 id="taxPrice">
                      {{""|return_currency_wise_symbol:request}}{{cartTotalTax|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Price After Tax :</td>

                  {% if request.user.is_authenticated %}
                  <td>
                    <h2 id="priceAfterTax">
                      {{""|return_currency_wise_symbol:request}}{{cartTotalPriceAfterTax|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% else %}
                  <td>
                    <h2 id="priceAfterTax">
                      {{""|return_currency_wise_symbol:request}}{{cartTotalPriceAfterTax|return_currency_wise_ammount:request}}
                    </h2>
                  </td>
                  {% endif %}
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-buttons">
      <div class="row">
        <div class="col-12 text-end">
          <a href="{% url 'index' %}" class="btn btn-normal">continue shopping</a>
          {% if request.user.is_authenticated %}
          <a onclick="handleCheckout({'cartId':'{{cartId}}'})" class="btn btn-normal ms-sm-3 ms-2">check out</a>
          {% else %}
          <a href="{% url 'login_page' %}" class="btn btn-normal ms-sm-3 ms-2">check out</a>
          {% endif %}
        </div>
        <div id="cartMsgDiv"></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!--section end-->

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie("csrftoken");

  async function handleCheckout(params) {
    var url = "{% url 'cart_to_checkout_validation' %}";
    var pageUrl = window.location.href;

    await fetch(url, {
      method: "POST",
      headers: {
        "content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        cartId: params.cartId,
      }),
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        if (data.flag === "True") {
          var cartMsgDiv = document.getElementById("cartMsgDiv");
          for (var i = 0; i < data.outOfStockProducts.length; i++) {
            var cartMsg = document.createElement("h5");
            cartMsg.setAttribute("id", "cartMsg" + i);
            cartMsg.innerHTML =
              "There is " +
              data.outOfStockProducts[i].outOfStockProducts +
              " stock of product " +
              data.outOfStockProducts[i].productName +
              ".";
            cartMsgDiv.append(cartMsg);

            // Set a timeout to hide the cartMsg element after 3 seconds
            setTimeout(
              function (index) {
                var cartMsgElement = document.getElementById("cartMsg" + index);
                if (cartMsgElement) {
                  cartMsgElement.remove();
                }
              },
              3000,
              i
            );
          }
        }
        if (data.flag === "False") {
          window.location.href = "{% url 'checkout_page' %}";
        }
      });
  }
</script>

{% endblock components %}
